/**
 * Copyright 2022 Nametag Inc.
 *
 * Use of this source code is governed by a BSD-style
 * license that can be found in the LICENSE file or at
 * https://developers.google.com/open-source/licenses/bsd
 */
.nt-btn-signin {
    height: 40px;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nt-btn-signin-icon {
    width: 18px;
    height: 18px;
    margin-left: 18px;
    margin-right: 18px;
}

.nt-btn-signin-text {
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    user-select: none;
}

.nt-btn-signin-spacer {
    width: 18px;
    height: 18px;
    margin-left: 18px;
    margin-right: 18px;
}

.nt-btn-signin-blue {
    background: #3C91F7;
}

.nt-btn-signin-blue .nt-btn-signin-text {
    color: #FFFFFF;
}

.nt-btn-signin-black {
    background: #000000;
}

.nt-btn-signin-black .nt-btn-signin-text {
    color: #FFFFFF;
}

.nt-btn-signin-white {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
}

.nt-btn-signin-white .nt-btn-signin-text {
    color: #000000;
}

.nt-btn-signin-icon-left .nt-btn-signin-text {
    flex: 1;
}

.nt-btn-signin-icon-center {}

.nt-btn-inverted {
    filter: invert();
}

.nt-qr-code {
    max-width: 320px;
}

.nt-qr-code-container {
    background-color: white;
    border-radius: 8px;
    padding-top: 100%;
    position: relative;
}

.nt-qr-code-container-item {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.nt-qr-code-qr {
    padding: 32px;
    width: 100%;
}

.nt-qr-code-error {
    align-items: center;
    display: flex;
    justify-content: center;
}

.nt-qr-code-caption {
    align-items: center;
    background-color: transparent;
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.nt-qr-code-caption-icon-dark {}

.nt-qr-code-caption-icon-light {
    filter: invert();
}

.nt-qr-code-caption-text {
    font-size: 14px;
    line-height: 17px;
    margin-left: 8px;
    margin: 0 8px;
}

.nt-qr-code-caption-text-dark {
    color: #000000;
}

.nt-qr-code-caption-text-light {
    color: #FFFFFF;
}